@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marvel", sans-serif;
    
}
header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("imagen/pixlr-bg-result.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 60%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(255, 154, 136);
}
section{
    background-image:linear-gradient(rgb(255, 154, 136),rgb(252, 255, 101));
}
article{
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}
p{
    font-style: italic;
}
ul{
    list-style-position: inside;
    list-style-type: none;
}    
li::before{
content: "*";
color: blueviolet;
padding: 10px;
}
li{
    font-style: italic;
}
footer{
    text-align: center;
    background-color: rgb(252, 255, 101);
    padding: 20px;
}
